/* Footer.module.scss */
.footer {
   height: 100%;
   background-color: #333;
   color: #fff;
   padding: 20px 80px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .column {
   flex: 1;
 }
 ul {
   list-style-type: none;
   padding: 0;
 }
 ul li {
   margin-bottom: 10px;
 }
 .photo {
   width: 100px;
   height: 100px;
   background-color: #fff; /* Or add image background */
   margin-bottom: 10px;
 }
 