/* Footer.module.scss */
.wrapper {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-top: auto; /* Прижимает футер к низу */
  }

 .logoContainer {
  /* Стили для вашего логотипа */
}

.navigation ul {
  list-style-type: none;
  padding-left: 0;
}

.navigation ul li {
  margin-bottom: 10px;
}

.contactInfo .text p {
  margin-bottom: 5px;
}
 