.header {
   background-color: #333;
   padding: 20px 80px;
 }
 .navbar-nav {
  margin-right: 20px;
  margin-left: auto;
}
.custom-toggler {
  margin-left: auto; 
}
 .languages {
   display: flex;
   align-items: center;
   color: #fff;
 }
 .languages span {
   margin-right: 10px;
 }