@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  @apply bg-slate-950 text-slate-100;
}

a {
  text-decoration: none;
}
